<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/memegenerator/">
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="./assets/css/bootstrap.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title 'ACS - MVC' %}</title>
    </head>
    <body>

    
<header>
          <div class="bgred">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid fontheader"><a href="index.php" class="navbar-brand text-white btn btn-dark" id="logo">Menu</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-flex justify-content-end"
                        id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="nav-item"><a href="index.php" class="nav-link text-white" id="maintitle">MY NEM IS MEME</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div><h2 class="text-center margintop50 titre" id="first">Welcome to My NEM Is Meme</h2><p class="text-center titre" id="pone">Donnez libre court à vôtre imagination</p>
</header>


         
         {% block content %}
        {% endblock %}

        <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="./assets/js/script.js"></script>
    </body>
</html>