/* Police */

@font-face {
        font-family: 'Impact';
        src: url('../Impact.woff2') format('woff2'),
            url('../Impact.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url('../HelveticaNeueLTStd-MdCn.woff') format('woff2'),
            url('../HelveticaNeueLTStd-MdCn.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
.fontheader {
        font-family: 'Raleway', sans-serif;;
        font-size: 40px;}

.titre {color: white;
        font-family: 'Raleway', sans-serif;;
        }

.titreimgleft {margin-left: 200px;
                margin-top:50px;
                font-family: 'Raleway', sans-serif;
                color: white;}

label {font-family: 'Helvetica'}

/* Background & Color */

.scrollbar {
        float: left;
        height: 300px;
        width: 65px;
        overflow-y: scroll;
        margin-bottom: 25px;
        }

.scrollbar-danger::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);

        border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
        width: 10px;}

.scrollbar-danger::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #c5c5c5; }

.menuleft {background-color: white;
        box-shadow: inset 2px 2px 2px black;
        border-radius: 10px;}

.inputmenu {border-radius: 10px;
        border: 4px solid gray;
        background-color: rgb(214, 214, 214);
        padding: 15px;
        text-align: center;
        box-shadow: 3px 5px 6px black;}

body {  background-color: #360101;
        background-image: url(../background.svg);
        background-attachment: fixed;
        background-size: cover;}


/* Hauteur et Largeur */



.height93 {height: 93%}
.heightmax {height: 80vh;}
.heightmenu {height: 500px;}
.height150 {height:200px;}
.maxwidthtotal {max-width: 1920px;}
.widthinput {width: 250px;}
.width220 {width: 220px;}


/* Border */

.border_r_header {border-right: 2px solid black;}



/* Margin et Padding */

.marginleft0 {margin-left: 0;}
.paddingleft0 {padding-left:0;}

.marginleft20 {margin-left: 20px;}
.marginleft50 {margin-left: 50px;}
.marginleft75 {margin-left: 75px;}


.marginright0 {margin-right: 0;}
.paddingright0 {padding-right:0;}

.margintop50 {margin-top: 50px;}
.margintop50 {margin-top: 50px;}
.margintop20 {margin-top: 20px;}

.padding0 {padding: 0px;}


/* image */

.button {margin-left: 200px;}

.blocimg {
        margin-top: 75px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;}


.blocerreur {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;}


.menuinit {border: 2px dotted white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        height: 300px;}

.imgmenu {height: 400px;
        width: 400px;}

.imgleft {height: 200px;
        width:200px;}

img {box-shadow: 2px 2px 2px black;}

.inputmenu2 {box-shadow: 0px 4px 5px grey;
        margin-left:20px;}


/* Overflow */

.overflowauto {overflow: auto;}

/* Texte image menu */

.text-top {width: 340px;
        line-height: 35px;
        word-wrap: break-word;
        position : absolute;
        font-size: 30px;
        letter-spacing: 1px;
        font-family: "Impact";
        text-transform: uppercase;
        color: white;
        text-align: center;
        top: 0;
        left: 40px;}

.text-bottom {width: 340px;
        line-height: 35px;
        word-wrap: break-word;
        position : absolute;
        font-size: 30px;
        letter-spacing: 1px;
        font-family: "Impact";
        text-transform: uppercase;
        color: white;
        text-align: center;
        top: 330px;
        left: 40px;}


/* les displays*/

.txthdispnone  {
        display : none;
}